{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">

    <div class="mdui-typo">
        <h1> 
            Step 1. Create a Microsoft account for a new user
            <br/>
            <small>If you would like to use a exist Microsoft account, jump to step 2</small>
        </h1>
        <a style="background-color: #448aff!important; color: white;" href="https://account.microsoft.com/" target="_blank" class="mdui-btn mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">&#xe89e;</i> Create Microsoft account</a>
    </div>
    <br/>
    <br/>


    <div class="mdui-typo">
        <h1> Step 2. Create user's folder<small></small></h1>
    </div>

    <form action="{{url_for('admin.user')}}" method="POST" enctype="multipart/form-data">

        <h4>Drive</h4>
        <select class="mdui-select" name="drive" mdui-select>
          {%for d in drivelist%}
            <option value="{{d[0]}}">{{d[1]}}</option>
          {%endfor%}
        </select>

        <div class="mdui-textfield">
            <h4>user's Microsoft account (email address)</h4>
            <input class="mdui-textfield-input" type="text" name="email" value=""/>
        </div>
        
        <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right">
            <i class="mdui-icon material-icons">&#xe161;</i> Add
        </button>

    </form>

    <br/>
    <br/>


    <div class="mdui-typo">
        <h1> To delete a user, symply delete the folder with the same name as the user's Microsoft account in <a href="{{url_for('admin.manage')}}">File Management</a> <small></small></h1>
    </div>

</div>

<script type="text/javascript">

    var inst = new mdui.Fab('#exampleFab');

    function UpdatePyOne() {
        layer.confirm('Confirm to upgrade PyOne？',
            function(index){
                layer.close(index);
                layer.open({
                    type: 2,
                    shade: false,
                    area: ['50%','400px'],
                    maxmin: true,
                    content: '{{url_for("admin.UpdatePyOne")}}',
                    zIndex: layer.zIndex, //重点1
                    success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
        });
    }

    function ChangePass() {
        layer.prompt({
              formType: 0,
              title: 'Please enter new password',
        }, function(value1, index, elem){
              layer.close(index);
              layer.prompt({
                    formType: 0,
                    title: 'Please enter original password for certification',
              }, function(value2, index, elem){
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('admin.setPass')}}",
                        data:{new_password:value1,old_password:value2},
                        dataType: "json",
                        success: function(data) {
                            layer.msg(data.msg, {icon: 1});
                        }
                    });
              });
        });
    }

    function unlock() {
      layer.confirm('Confirm to unlock all accounts？',
        function(index){
              layer.close(index);
              $.ajax({
                  type: "POST",
                  url: "{{url_for('admin.unlock')}}",
                  data:{},
                  dataType: "json",
                  success: function(data) {
                      layer.msg(data.msg, {icon: 1});
                  }
              });
        });
    }

    function uninstall() {
        layer.confirm('Confirm to uninstall PyOne？',
            {
                icon: 3,
                title:'Uninstall',
                success: function (layero, index) {
                    var msg = 'Confirm';
                    var i = 5;
                    var timer = null;
                    $(".layui-layer-btn0").addClass("layui-btn-disabled");
                    var fn = function () {
                        layero.find(".layui-layer-btn0").text(msg + '(' + i + ')');
                        if (!i) {
                            $(".layui-layer-btn0").removeClass("layui-btn-disabled");
                            layero.find(".layui-layer-btn0").text(msg);
                            clearInterval(timer);
                        }
                        i--;
                    };
                    timer = setInterval(fn, 1000);
                    fn();
                },
            },
            function(index){
                layer.close(index);
                layer.msg('Deleting mongodb data...', {icon: 1});
                uninstall_action('mongodb');
                uninstall_action('redis');
                uninstall_action('directory');
                $.ajax({
                    type: "POST",
                    url: "{{url_for('admin.uninstall')}}",
                    data:{type:'done'},
                    dataType: "json",
                    success: function(data) {
                        layer.alert(data.msg, {icon: 1});
                    }
            });
        });
    }
    function uninstall_action(type){
        $.ajax({
            type: "POST",
            url: "{{url_for('admin.uninstall')}}",
            data:{type:type},
            dataType: "json",
            success: function(data) {
                layer.msg(data.msg, {icon: 1});
            }
        });
    }
</script>
{%endblock content%}
