{%extends 'admin/layout.html'%}
{%block content%}
<div class="mdui-container-fluid">
    <div class="mdui-typo">
        <h1> Add drive <small></small></h1>
    </div>
    <form action="{{url_for('admin.add_pan')}}" method="POST">
        <div class="mdui-textfield">
            <h4>Drive name <small>Use alpha letters, distinct from other drives</small></h4>
            <input class="mdui-textfield-input" type="text" name="pan" placeholder="setup drive name" pattern="[a-zA-Z]{1,5}" required/>
            <div class="mdui-textfield-error">Please use 1-5 alpha letters</div>
        </div>
        <div class="mdui-textfield">
            <h4>Display name</h4>
            <input class="mdui-textfield-input" type="text" name="title" placeholder="setup display name" />
        </div>
        <div class="mdui-textfield">
            <h4>Order</h4>
            <input class="mdui-textfield-input" type="text" name="order" pattern="\d+" value="{{len(get_od_user())+1}}" required/>
            <div class="mdui-textfield-error">Please enter an order number</div>
        </div>
        <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right">
            <i class="mdui-icon material-icons">&#xe161;</i> Save
        </button>
    </form>
</div>
{%endblock content%}
