{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">
    <div class="mdui-typo">
      <h1> Drive management <small>Add/Delete/Edit drives</small></h1>
    </div>
    <div class="mdui-row">
        <div class="mdui-col-xs-2">
            <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="window.location.href='{{url_for("admin.add_pan")}}'">Add drive</button>
        </div>
        <div class="mdui-col-xs-2">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"  onclick="window.location.href='{{url_for("admin.rm_pan")}}'">Delete drive</button>
        </div>
        <div class="mdui-col-xs-8"></div>
    </div>
    <form action="{{url_for('admin.panage')}}" method="POST">
        <div class="mdui-textfield">
          <h4>Edit drive info <small>Added drive will be listed</small></h4>
          {%for user in get_od_user()%}
          {%if user[1]!='Add drive'%}
          <div class="mdui-panel" mdui-panel>
              <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">{{user[1]}}</div>
                <div class="mdui-panel-item-body">
                  <h5>Display name</h5>
                  <input class="mdui-textfield-input" type="text" name="other_name[{{user[0]}}]" placeholder="Please enter display name" value="{{user[1]}}" />
                  <h5>Shared directory/h5>
                  <input class="mdui-textfield-input" type="text" name="share_path[{{user[0]}}]" placeholder="Please enter shared directory" value="{{user[3]}}" disabled />
                  <h5>Set as default drive</h5>
                  {%if user[0]==GetConfig('default_pan')%}
                  <span class="mdui-color-blue">Default drive</span>
                  {%else%}
                  <div class="mdui-btn mdui-color-blue" onclick="setDefaultPan('{{user[0]}}');">Set as default drive</div>
                  {%endif%}
                </div>
              </div>
          </div>
          {%endif%}
          {%endfor%}
        </div>
       <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right">
        <i class="mdui-icon material-icons">&#xe161;</i> Save
       </button>
    </form>
</div>
<script type="text/javascript">
function setDefaultPan(pan) {
    layer.confirm('Confirm to set 【'+pan+'】 as default drive?', {
      btn: ['Yes','Cancel'] //按钮
    }, function(index){
        layer.close(index);
        var ii = layer.load(2, {shade: [0.1, '#fff']});
          $.ajax({
              type: "POST",
              url: "{{url_for('admin.setDefaultPan')}}",
              dataType: 'json',
              data: { pan:pan },
              success: function(data) {
                  layer.msg(data.msg);
              },
              error: function(){
                  layer.msg('server error!');
              },
              complete: function(xhr) {
                  layer.close(ii);
                  window.location.reload();
              }
          });
    });
}
</script>
{%endblock content%}
