{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">
  <div class="mdui-type">
    <h1>Please watch this gif before you move on</h1>
    <img src="https://ws2.sinaimg.cn/large/0074MymAly1fxab79lnsag31gs0qcqvb.gif">
  </div>
<div class="mdui-typo">
  <h4>step 0. login<a href="https://apps.dev.microsoft.com/" target="_blank">https://apps.dev.microsoft.com/</a></h4>
</div>
<div class="mdui-typo">
  <h4>step 1. click this button to get <b>client_secret</b>, then copy it to <b>client_secret</b> box/h4>
  <a href="https://apps.dev.microsoft.com/?referrer=https%3a%2f%2fdeveloper.microsoft.com%2fzh-cn%2fgraph%2fquick-start#/quickstart/graphIO?publicClientSupport=false&appName=PyOne&redirectUrl={{redirectUrl}}&allowImplicitFlow=false&ru=https:%2F%2Fdeveloper.microsoft.com%2Fzh-cn%2Fgraph%2Fquick-start%3FappID%3D_appId_%26appName%3D_appName_%26redirectUrl%3D{{redirectUrl}}%26platform%3Doption-php" target="_blank" class="mdui-btn mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">&#xe89e;</i> Get App ID and client secret(display in 2 pages)</a>
</div>
<div class="mdui-typo">
  <h4>step 2. on the same page of <b>client_secret</b>, click<code>Got it, take me back to the quick start</code>, find <B>appID</B>, copy <B>appID</B> to <b>App ID(client_id)</b> box</h4>
</div>
<div class="mdui-typo">
  <h4>step 3. enter these 2 boxes and click next</h4>
  <img src="http://wx4.sinaimg.cn/large/0060lm7Tly1fxa6f6j93bj30yf0anmy5.jpg">
  <img src="http://wx1.sinaimg.cn/large/0060lm7Tly1fxa6f6jj1uj30zu0mimz8.jpg">
</div>

    <div class="mdui-typo">
      <h1>Add drive <small>App ID and client secret</small></h1>
    </div>

    <div class="mdui-typo">
      <h4 class="doc-article-title">
        enter <code>client_id</code> and <code>client_secret</code>,
        <a href="https://apps.dev.microsoft.com/?referrer=https%3a%2f%2fdeveloper.microsoft.com%2fzh-cn%2fgraph%2fquick-start#/quickstart/graphIO?publicClientSupport=false&appName=PyOne&redirectUrl={{redirectUrl}}&allowImplicitFlow=false&ru=https:%2F%2Fdeveloper.microsoft.com%2Fzh-cn%2Fgraph%2Fquick-start%3FappID%3D_appId_%26appName%3D_appName_%26redirectUrl%3D{{redirectUrl}}%26platform%3Doption-php" target="_blank" class="mdui-btn mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">&#xe89e;</i> Get App ID and client secret(display in 2 pages)</a>
      </h4>
    </div>

    <form action="{{url_for('admin.install')}}" method="post">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">https</i>
            <label class="mdui-textfield-label">client secret</label>
            <input type="text" type="text" class="mdui-textfield-input" name="client_secret" required"/>
            <div class="mdui-textfield-error">client secret cannot be blank</div>
        </div>
        <br>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">&#xe5c3;</i>
            <label class="mdui-textfield-label">App ID (client_id)</label>
            <input type="text" class="mdui-textfield-input" name="client_id" required"/>
            <div class="mdui-textfield-error">App ID cannot be blank</div>
        </div>
        <br>
        <input type="hidden" name="step" value="1">
        <input type="hidden" name="user" value="{{cur_user}}">
        <br>
        <br>
     <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right" type="submit">Next</button>
    </form>


</div>
{%endblock content%}
