{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">
    <div class="mdui-typo">
        <h1>Pull from Onedrive</h1>
    </div>
    <div class="mdui-row">
        <div class="mdui-col-xs-2">
            <button class="mdui-btn mdui-btn-raised mdui-ripple" id="new">Incremental update</button>
        </div>
        <div class="mdui-col-xs-2" style="margin-left:90px">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" id="all">Full update</button>
        </div>
        <div class="mdui-col-xs-8"></div>
    </div>
    <hr>
    <div class="mdui-row">
        <div class="mdui-col-xs-12">
            <div class="mdui-card">
              <div class="mdui-card-actions mdui-card-actions-stacked">
                <h2>Explanation</h2>
                <p>1. Incremental update: compair local and remote files, update only if files updated. This recommended if directory trees are not changed. </p>
                <p>2. Full update: delete local files before update. This is recommended if directory trees changed.</p>
              </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#new').click(function(){
        $.post("{{url_for('admin.cache_control')}}",
            {
                type:"new"
            },
            function(data){
                mdui.snackbar({
                    message: data.msg,
                    position: 'top'
                });
            }
        );
    });
    $('#all').click(function(){
        $.post("{{url_for('admin.cache_control')}}",
            {
                type:"all"
            },
            function(data){
                mdui.snackbar({
                    message: data.msg,
                    position: 'top'
                });
            }
        );
    });
</script>
{%endblock content%}
