{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">

    <div class="mdui-typo">
      <h1>Customized code <small>for developers</small></h1>
    </div>
    <form action="{{url_for('admin.setCode')}}" method="POST">
        <div class="mdui-textfield">
          <h4>CSS (Css code only, do not include 'style' tab, as it will be added automatically)</h4>
          <textarea class="mdui-textfield-input" rows="4" placeholder="Customized css" name="cssCode">{{GetConfig('cssCode')}}</textarea>
        </div>

        <div class="mdui-textfield">
          <h4>Customized header</h4>
          <textarea class="mdui-textfield-input" rows="4" placeholder="Customized header" name="headCode">{{GetConfig('headCode')}}</textarea>
        </div>

        <div class="mdui-textfield">
          <h4>Customized footer</h4>
          <textarea class="mdui-textfield-input" rows="4" placeholder="Customized footer" name="footCode">{{GetConfig('footCode')}}</textarea>
        </div>

        <div class="mdui-textfield">
          <h4>Statistics code</h4>
          <textarea class="mdui-textfield-input" rows="4" placeholder="Statistics code" name="tj_code">{{GetConfig('tj_code')}}</textarea>
        </div>

       <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right">
        <i class="mdui-icon material-icons">&#xe161;</i> Save
       </button>
    </form>
</div>
{%endblock content%}
